.table-container {
    text-align: center;
    margin-top: 60px;
}

.table-container h1 {
    font-size: 36px; /* Adjust font size as needed */
    color: black; /* Adjust color as needed */
    font-weight: bold;
    margin-bottom: 10px;
}

.table-container h4 {
    font-size: 18px; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust spacing between buttons */
}

.service-button {
    background-color: white; /* Adjust button background color */
    color: black; /* Adjust button text color */
    border: 1px solid #e6932f ;
    border-radius: 8px; /* Adjust border radius as needed */
    padding: 15px 30px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a transition effect */
    flex-basis: calc(25% - 20px); /* Ensure 4 buttons per row, adjusting for gap */
    box-sizing: border-box;
}

.service-button:hover {
    background-color: #dfc387; /* Adjust hover background color */
    color: white;
}
